// colors

$light_green: #00bfa5;
$dark_green: #009688;
$light_grey: #455a64;
$dark_grey: #373e42;
$red: #e44845;
$grey: #53595d;
$white: #fff;
$gray:  #C4CACC;

$light_green_svg: invert(48%) sepia(65%) saturate(858%) hue-rotate(129deg) brightness(100%) contrast(101%)
