// TODO: Переделать верстку строк для полей ввода

.auth {
  width: 380px;
  max-height: 600px;
  overflow: hidden;
  background-color: rgba(#fcfcfc, 0.85);
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;

  h4 {
    margin-bottom: 40px;
    position: relative;
    &:after, &:before {
      top: 20px;
    }
  }

  p {
    padding: 0;
    opacity: 0.8;
    color: $light_grey;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 7px;
    @include roboto(bold);
  }

  input[type="submit"] {
    border-right: none;
  }

  @include phone {
    margin: 0 auto;
    width: (300/320)*100%;
    max-width: 320px;
  }
}

.form__inline {
  width: 340px;
  margin: 0 auto 13px;
  max-height: 45px;

  @include phone {
    width: (260/320)*100%;
  }

}

.form__all {
}

.icon {
  width: 45px;
  height: 45px;
  background-color: #f0efe9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: inline-block;
}

.input {
  width: 295px;
  height: 45px;
  background-color: white;
  border-radius: 0 4px 4px 0;
  outline: none;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;

  @include phone {
    width: (244/300)*100%;
    font-size: 14px;
  }
}

.checkbox {
  opacity: 0;
}

.label {
  &:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: $light_green;
    border-radius: 2px;
  }
  vertical-align: top;
  position: relative;
  opacity: 0.8;
  color: $light_grey;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    cursor: pointer;
  }

  @include roboto(regular);
}

.checkbox:checked + .label {
  &:after {
    content: '✔';
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    position: absolute;
    left: 0;
    top: -3px;
  }
}

.radio {
  opacity: 0;
  position: absolute;
}

.group {
  display: inline-block;
  margin-right: 5px;
}

.label__radio {
  vertical-align: top;
  position: relative;
  opacity: 0.8;
  color: $light_grey;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }

  @include roboto(regular);
}

.radio:checked + .label__radio {
  color: $light_green;

  &:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $light_green;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 6px;
  }
}

input[type="submit"], button {
  width: 190px;
  min-height: 45px;
  background-color: rgba(0, 191, 165, 0.85);
  text-align: center;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: $dark_green;
  }
  border-right: 1px solid rgba(white, 0.5);

  @include phone {
    width: 50%;
    font-size: 14px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include roboto(medium);
}
